= render("devise/shared/logo_header", page_title: "Enter your email address to resend confirmation instructions")

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  = f.email_field :email, autofocus: true, placeholder: "Email Address"
  %br

  = f.submit "Resend Confirmation"

= render "devise/shared/links"
