= render("devise/shared/logo_header", title: "Sign in", sub_title: "Sign in to your account")

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div
    = f.email_field :email, autofocus: true, placeholder: "Email Address"

  %div
    = f.password_field :password, autocomplete: "off", placeholder: "Password"

  - if devise_mapping.rememberable?
    .hidden-phone
      = f.check_box :remember_me
      = f.label :remember_me

  %div
    = f.submit "Sign in"


- # TODO support more than one omniauth provider and remove this style
#social-login-group{style: "width: #{resource_class.omniauth_providers.length * 32}px"}
  - resource_class.omniauth_providers.each do |provider|
    = link_to "", omniauth_authorize_path(resource_name, provider), id: "#{provider.to_s}-login", class: "social-login"

#account-misc-links
  = render "devise/shared/links"

#license-disclaimer
  %p
    WeTap uses information from
    <a href="https://www.openstreetmap.org/about">Open Street Maps</a>,
    made available under the
    <a href="http://opendatacommons.org/licenses/odbl/1.0/">Open Database License (ODbL)</a>.
    For a copy of the database contact Info@WeTap.org

