<%= form_for(@water_fountain) do |f| %>
  <% if @water_fountain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_fountain.errors.count, "error") %> prohibited this water_fountain from being saved:</h2>

      <ul>
      <% @water_fountain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :point %><br>
    <%= f.text_field :point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
