<h1>Listing water_fountains</h1>

<table>
  <thead>
    <tr>
      <th>Point</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @water_fountains.each do |water_fountain| %>
      <tr>
        <td><%= water_fountain.point %></td>
        <td><%= link_to 'Show', water_fountain %></td>
        <td><%= link_to 'Edit', edit_water_fountain_path(water_fountain) %></td>
        <td><%= link_to 'Destroy', water_fountain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Water fountain', new_water_fountain_path %>
