<!DOCTYPE html>
<html lang="en" ng-app="weTap">
  <head>
    <title>WeTap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "iphone", :media => "only screen and (max-device-width: 480px)" %>

    <script src='//maps.googleapis.com/maps/api/js?sensor=false&language=en'></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top hidden-phone">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/#/">WeTap</a>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path %></li>
            <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
